---
layout: main
---
{% if subtitle != "" %}
<p class="text-5xl md:text-6xl font-black pt-10 md:pt-20 leading-tight">
 {{ title }}
</p>
<p class="text-5xl md:text-6xl font-black pb-10 md:pb-20 leading-tight">
 {{ subtitle }}
</p>

{% else %}
<p class="text-5xl md:text-6xl font-black py-10 md:py-20 leading-tight">
 {{ title }}
</p>

{% endif %}

{% include "nav.njk" %}

{{ content | safe}}